<%- include('../partials/header.ejs') %>
<div class="container-fluid">
    <h1>Cohort</h1>
    <div class="card body">
        <h5 class="card-title"><%= cohort.name %> </h5>
        <p class="card-text">
            <div><%= cohort.members %> </div>
        </p>
    </div>

</div>


<%- include('../partials/footer.ejs') %>