<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Team Picker</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <div class="container-fluid">
            <div class="row" style="justify-content: space-around;">
                <div class="col-6">
                    <h3>
                        <a class="nav-link" href="/">Super Team Picker</a>
                    </h3>
                </div>
                <div class="col-6 text-right">
                    <h3 class="d-inline-block">
                        <a class="nav-link" href="/">Home</a>
                    </h3>
                    <h3 class="d-inline-block">
                        <a class="nav-link" href="../cohorts">Cohorts</a>
                    </h3>
                    <h3 class="d-inline-block">
                        <a class="nav-link" href="../cohorts/new">New Cohort</a>
                    </h3>
                </div>
            </div>
        </div>
    </header>